$ghermez: rgb(218, 11, 38);

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main-nav:hover{
  color: $ghermez;
  }
  .backbtn,deletebtn{
    padding: 10px 30px;
  }

  .main-nav-active{
    color: $ghermez;
    text-decoration: none;
    border-bottom: 2px solid $ghermez;
  }
  .main-nav-active:hover,
  .main-nav-active:focus{
    text-decoration: none;
  }
  .erroricon{
    width: 212px;
    margin-top: 30px;
    margin-bottom: 23px;
  }

  body {
    margin: 0;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    padding-right: 20px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    // border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  .Homecomponent, .AboutUsComponent,.ProductDetailComponnet{
    margin-top: 40px;
  }
  // .header li a:hover,
  // .header .menu-btn:hover {
  //   background-color: #f4f4f4;
  // }
  .ProductDetailComponnet{
    line-height: 42px;
    margin-top: 50px;
  }
  .AboutUsComponent{
    text-align: justify;
    direction: rtl;
    line-height: 33px;
  }
  .productrow{
    direction: rtl;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  .productbox{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  




  @media only screen and (max-width: 600px) {
  .AboutUsComponent {
    padding: 10px 30px;
  }
  .menu{
    display: flex;
    flex-direction: column-reverse
  } 
  .menu  li{
    text-align: end;
  }
  .main-nav-active {
    color: #da0b26;
    text-decoration: none;
    border-bottom: none;
}
  }